@import "tailwindcss";

@theme {
  --color-brand: #ff5733;
  --color-tom: #808000;
}

/* .button {
  @apply bg-brand text-white p-4 rounded;
} */


body{
   font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
    width: 90%;
}

.icon-white {
  color:oklch(0.827 0.119 306.383);
  
}

.icon-white:hover {
  color:  oklch(0.627 0.265 303.9);
}

.link:hover{color: oklch(0.627 0.265 303.9);}
